@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "UPS!";
}

<h1>@ViewData["Title"]</h1>
<br/>
<div class="text-center">
    <br/>

    <img id="access-image" src="~/img/access-denied.jpg"/>
    <h1>I'm sorry</h1>
    <h2>Something went wrong</h2>
    <h3>Try again later</h3>
    <br/>
    
    <p>
        Did you try to access a page that you don't have access to?
    </p>
    <p>
        If so, you can try to log in with a different account.
    </p>
    <p>
        If you think you deserve access to this page, contact the administrator.
    </p>
    
    

</div>