@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>
<br/>
<div class="text-center">
    <h1>Welcome to BeerApp!</h1>
    <br/>
    <p class="lead">This is a simple application for beer lovers.</p>
    <p class="lead">You can create, edit and delete beers, breweries, and beer types... 
        Of course, only if you are a true connoisseur.</p>

    <p class="lead">Enjoy!</p>
    
    <beerquote path="wwwroot/txt/quotes.txt"></beerquote>



</div>