<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Projekt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site2.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Projekt.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"> *@
    @*     <div class="container-fluid"> *@
    @*         <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="navbar-toggler-icon" src="~/img/beer-icon.png" /></a> *@
    @*         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" *@
    @*                 aria-expanded="false" aria-label="Toggle navigation"> *@
    @*             <span class="navbar-toggler-icon"></span> *@
    @*         </button> *@
    @*         <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"> *@
    @*             <ul class="navbar-nav flex-grow-1"> *@
    @*                 <li class="nav-item"> *@
    @*                     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Hoooome</a> *@
    @*                 </li> *@
    @*                 <li class="nav-item"> *@
    @*                     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
    @*                 </li> *@
    @*                 <li> *@
    @*                     <a class="nav-link text-dark" asp-area="" asp-controller="Beer" asp-action="Index">Beers</a> *@
    @*                 </li> *@
    @*                 <li> *@
    @*                     <a class="nav-link text-dark" asp-area="" asp-controller="Brewery" asp-action="Index">Breweries</a> *@
    @*                 </li> *@
    @*                 <li> *@
    @*                     <a class="nav-link text-dark" asp-area="" asp-controller="BeerType" asp-action="Index">Beer types</a> *@
    @*                 </li> *@
    @*             </ul> *@
    @*         </div> *@
    @*     </div> *@
    @* </nav> *@
    
    @* regular left menu without above bootstrap*@
    <div class="left-menu">
        <div class="left-menu-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </div>
        @if (User.Identity.IsAuthenticated) {
            //if user is admin
            if (User.IsInRole("Admin")) {
                <div class="left-menu-item">
                    <a class="nav-link" asp-area="" asp-controller="BeerUser" asp-action="Index">Users</a>
                </div>
                <div class="left-menu-item">
                    <a class="nav-link" asp-area="" asp-controller="BeerRole" asp-action="Index">Roles</a>
                </div>
            }
            //if user is connoisseur
            if (User.IsInRole("Connoisseur") || User.IsInRole("Admin")) {
                <div class="left-menu-item">
                    <a class="nav-link" asp-area="" asp-controller="Beer" asp-action="Index">Beers</a>
                </div>
                <div class="left-menu-item">
                    <a class="nav-link" asp-area="" asp-controller="Brewery" asp-action="Index">Breweries</a>
                </div>
                <div class="left-menu-item">
                    <a class="nav-link" asp-area="" asp-controller="BeerType" asp-action="Index">Beer types</a>
                </div>
            }
            <div class="left-menu-item">
                <a class="nav-link" asp-area="" asp-controller="BeerReview" asp-action="Index">Reviews</a>
            </div>
            <div class="left-menu-item">
                <a class="nav-link" asp-area="" asp-controller="BeerUser" asp-action="Logout">Logout</a>
            </div>
        }
        else{
            <div class="left-menu-item">
                <a class="nav-link" asp-area="" asp-controller="BeerUser" asp-action="Register">Register</a>
            </div>
            <div class="left-menu-item">
                <a class="nav-link" asp-area="" asp-controller="BeerUser" asp-action="Login">Login</a>
            </div>
        }

    </div>


</header>
<div class="container">
    <main role="main" class="pb-3">
        <div id="content">            
            @RenderBody()
        </div>
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"> </script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"> </script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>